body {
  /* background-image: url("reminder.jpg"); */
  /* background-size: cover; */
  background-color:whitesmoke;
}

.entry {
  color: gray;
  /* background-color:gainsboro; */
  border-radius: 10px;
}

.entry:hover {
    background-color:oldlace;
}